svg {
    display: block;
}
html, body, svg {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

#main{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.server{
    width: 400px;
    height: 600px;

    padding: 5px;
}

.hostname{
    height: 40px;
}

.util, .memory{
    width: 100%;
    height: calc(50% - 40px);
}

h2{
    text-align: center;
}