<!DOCTYPE html>
<html>
<head>
  <title>GPU Watcher</title>
  <link rel="stylesheet" href="{{ static_url("style.css") }}"/>

  <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>

  <link href="{{ static_url("nv.d3.min.css") }}" rel="stylesheet" type="text/css">
  <script src="{{ static_url("nv.d3.min.js") }}"></script>

  <script type="text/javascript">
    server_location = "{{bind_ip_port}}";
  </script>

  <script src="{{ static_url("gpu_watcher.js") }}"></script>
</head>
<body>
  <div id="main">
    <div id="{{hosts[0]}}" class="server">
      <h2>{{hosts[0]}}</h2>
      <div class="util"></div>
      <div class="memory"></div>
    </div>
    <div id="{{hosts[1]}}" class="server">
      <h2>{{hosts[1]}}</h2>
      <div class="util"></div>
      <div class="memory"></div>
    </div>
  </div>
</body>
</html>
